@charset "UTF-8";


@charset "UTF-8";




body {
    background-color: #f8f9fa;
}

.container {
    max-width: 1200px;
}

.cart-item-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
}

h1.mb-4 {
    color: #d38585;
}

.table th {
	color:#743e3e !important;
    border-top: none;
    border-bottom: 2px solid #dee2e6;
}

.table td {
	color:#cb9533c7 !important;
    vertical-align: middle;
}

.form-control-sm {
    text-align: center;
}

.btn-outline-secondary {
    border-color: #C96868 !important;
}

.card {
    border: red;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card-title {
	color:#d38585 !important;
    font-weight: bold;

}
h6.mt-4.mb-3 {
    color: burlywood;


.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}


