@charset "UTF-8";

/* navbar

.navbar-container {
    display: flex;
    position:fixed;
    top: 0;
    width: 100%;     
    z-index: 1000;   
    justify-content: space-between;
    align-items: center;
    padding:0px 8px;
    background-color: #ef7a8e ;
    box-shadow: 0px 7px 20px rgba(255, 75, 43, 0.6);
} 
*/

body{
	font-family: "Smokum", serif;
}

#hero {
	
	display:flex;
	flex-direction:column;
	align-items: flex-start;
	justify-content: center;
	padding-left: 80px;
	padding-bottom:20px;
	height:50vh;
	background-color:black;
	background-size:50% 100%;
	background-position: right ;
	background-repeat:no-repeat;
	box-shadow: 0px 5px 20px rgba(255, 75, 43, 0.6);
	
	animation: changeBackground 20s infinite;
}
div#hero {
    margin-top: 3em;
     font-family: "Smokum", serif;
}
 @keyframes changeBackground {
            0% {
            	 background-image: url('img/hero/back3.jpg'); 
            }
            30% {
                background-image: url('img/hero/backmain.jpg');
            }
            60% {
                background-image: url('img/hero/back4.jpg');
            }
            100% {
                background-image: url('img/hero/back6.jpg'); /* Loop back to the first image */
            }
}

#hero h2{
	font-size:3.5rem;
  	background: linear-gradient(45deg, #ff7e5f, #feb47b, #ff416c, #ff4b2b);
 	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	animation: gradient-animation 5s ease infinite;
   font-weight: bold;
}
#hero h4{
	font-size:1.7rem;
	color: #C6EBC5;
	
}
#hero p {
	font-size:1.3rem;
	padding-top: 5px;
	padding-bottom: 10px;
	color:#FEFDED;
}
#hero button{
    background-image: linear-gradient(to right, #ff416c, #ff4b2b);
    color: white;
    font-size:16px;
   
    border: 2px solid white;
    border-radius: 20px;
    padding: 7px 20px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 75, 43, 0.6);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
#hero button:hover{
	background-image: linear-gradient(to right, #ff4b2b, #ff416c);
	box-shadow: 0 0 20px rgba(255, 75, 43, 0.8);
	border-color: #ff4b2b;
	transform: translateY(-3px);
}

/* Restaurant Card */
.row {

    
    justify-content: center;  
}
.col {
    padding: 20px;
}
h5#welcome {
    font-size: xx-large;
    color: gray;
    font-family: "Smokum", serif;
}
	

h1#restaurant-head {
    width: 100%;
    
}

#restaurant-head {
	color: #FA7070;
	margin-top:2px;
	padding: 3px 0px;
	font-family: "Smokum", serif;
	font-weight:bold;
	text-align:center;
	box-shadow: 0 0 20px rgba(255, 75, 43, 0.3);
}
#restaurant-container {
    box-shadow: 0 0 20px rgba(255, 70, 40, 0.2);
     transition: transform 0.3s;
}
#restaurant-container:hover {
    transform: scale(1.05); /* Smooth zoom on hover */
}

#restaurant-details {
    font-family: "Smokum", serif;
     text-align: center;
}

#restaurant-details h5 {
    margin: 0 0 10px;
    font-size: 1.8rem;
    font-weight:lighter;
    color: gray;
    
}

#restaurant-details p {
    margin: 5px 0;
    font-size: 1.2rem;
    color: #666;
   
}

#restaurant-details p strong {
    color: #FA7070;
}

#restaurant-details #rating  {
    font-size: 16px;
    color: #16a34a;
}
hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}      
    
/*  Responsive */

@media (min-width: 100px) and (max-width: 1199.98px) {

	h5#welcome {
	 display:none;
	}
}
@media (max-width: 768px) {
    .card {
        margin-bottom: 20px;
    }
}
	